@import "./base/base";
@import "./variables/colors";
@import "./utils/section";
@import "./components/header";
@import "./components/hero-section";
@import "./components/why-brella";
@import "./components/brings";
@import "./components/statistic";
@import "./components/plan";
@import "./components/for-employers";
@import "./components/companies";
@import "./components/examples";
@import "./components/talk";
@import "./components/footer";