.for-employers {
    padding: 126px 0px 112px 120px;
    background-image: url(..//..//images_and_icons/images/employers-bcgimg.jpg);
}
.for-employers-container {
    width: 600px;
    height: 282px;

    .second-title {
        width: 391px;
        margin-bottom: 34px;
    }
    .text {
        margin-bottom: 24px;
        width: 490px;
    }
}