.plan {
    padding-top: 117px;
}
.plan-container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 69px;
    padding-bottom: 117px;
    background-image: url(..//..//images_and_icons/images/plan-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 115px 0px;

    .comment {
        margin-left: 634px;
    }
    .second-title {
        margin-left: 634px;
        width: 483px;
        margin-bottom: 34px;
    }
    .text {
        margin-left: 634px;
        margin-bottom: 24px;
    }
    .link {
        margin-left: 634px;
    }
}
