.why-brella {
    padding-top: 213px;
    padding-bottom: 153px;
    height: 432px;
    box-sizing: content-box;
}
.why-brella-container {
    width: 1200px;
    height: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;


}
.why-brella-text {
    width: 478px;
    margin-right: 102px;

    & h2 {
        margin-bottom: 34px;
    }
    & a {
        display: inline-block;
        width: 107px;
        margin-top: 24px;
    }
}
.why-brella-diagrams {
    display: flex;
    align-items: flex-end;

    & > p {
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: $secondary-text-color;
        width: 237px;
        height: 22px;
        margin-right: 80px;
        position: absolute;
        left: 945px;
        z-index: 0;
    }
}
.diagram-title {
    font-family: 'Roboto';
    font-size: 70px;
    line-height: 90px;
    height: 90px;
    color: $firstly-text-color;
}

.diagram-text-container {
    font-family: 'Raleway';
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: $firstly-text-color;
    margin-bottom: 74px;
    margin-right: 51px;

    & h3 {
        margin-bottom: 30px;
    }
    & a {
        text-decoration-line: underline;
    }
}
.diagram-text {
    height: 69px;
    width: 224px;
}
.diagram {
    width: 78px;
    margin-bottom: 32px;

    &:not(:last-of-type) {
        margin-right: 40px;
    }
    & p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        height: 22px;
        text-align: center;
        color: $firstly-text-color;
    }
    & h4 {
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        height: 22px;
        width: 100%;
        text-align: center;
        color: $firstly-text-color;
        margin-top: 20px;
        margin-bottom: 0;
    }
    & .diagram-one {
        width: 78px;
        height: 150px;
        background-color: $button-color;
    }
    & .diagram-two {
        width: 78px;
        height: 300px;
        background-color: $button-color;
    }
}