body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    // width: 1550px;
}
main {
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: linear;
}

a:hover,
a:focus {
    color: #43806C;
    border-color: #43806C;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
